.SearchPage{
    /* display: flex; */
    flex: 0.8;
}

.SearchPage h1{
    margin-top: 5px;
    margin-bottom: 0px;
}

.SearchPage_filter{
    display: flex;
    font-size:medium;
    align-items: center;
}

.SearchPage_filter h3{
    color: gray;
    margin-left: 10px;
}

.SearchPage_filter hr{
    margin-top: 10px;
}
